.final p{
    background-color:#fabfb7;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 50%px;  
}

.f2 p{
    text-decoration: line-through;
}


.pendiente p{
    background-color:#fdf9c4;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 50%px;
}

.porhacer p{
    background-color: #ffda9e;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 50%px;
}

.eliminado{
    background-color: #f18b8b;
    border-width: 1px;
    font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    box-shadow: 
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.editar{
    background-color: #ccf18b;
    border-width: 1px;
    font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    box-shadow: 
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.parr{
    display: inline-flex;

}
